body{
    font-family: Verdana, Geneva, sans-serif;
    background-color: grey;
}


td {
	padding: 05px;
}

#divTable{
	background: #232;
	text-align: center;
	
}

a:link {
    color: #FF0000;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #00FF00;
    text-decoration: none;
}
